*.pyc
*.log
*.out
tmp.cpp
test/
ea_iid
ea_non_iid
ea_conditioning
ea_restart
ea_transpose
.vscode
.DS_Store
*.xml
*.iml
cpp/selftest/biased-random-bits.res
cpp/selftest/biased-random-bytes.res
cpp/selftest/data.pi.res
cpp/selftest/normal.res
cpp/selftest/rand1_short.res
cpp/selftest/rand4_short.res
cpp/selftest/rand8_short.res
cpp/selftest/ringOsc-nist.res
cpp/selftest/truerand_1bit.res
cpp/selftest/truerand_4bit.res
cpp/selftest/truerand_8bit.res
